In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [5]:
df = pd.read_csv("Snitch_Fashion_Sales_Uncleaned.csv")

In [7]:
df.head()

,Order_ID,Customer_Name,Product_Category,Product_Name,Units_Sold,Unit_Price,Discount_%,Sales_Amount,Order_Date,City,Segment,Profit
0,1000,Brian Thompson,Jeans,Slim Fit Jeans,NaN,842.00,0.60,0.00,2025-02-27,Delhi,B2C,2137.45
1,1001,Shaun Ross,Jeans,Slim Fit Jeans,1.0,NaN,NaN,0.00,2025-07-15,Ahmedabad,NaN,1588.15
2,1002,Sarah Snyder,Jackets,Puffer Coat,1.0,637.82,NaN,0.00,02-01-2025,Mumbai,B2B,-158.03
3,1003,Jay Briggs,Shoes,Loafers,2.0,2962.27,NaN,0.00,18-06-2025,bengaluru,B2B,2296.50
4,1004,Maria Blake,Accessories,Belts,1.0,2881.07,0.27,2103.18,NaN,hyderbad,NaN,63.66

In [9]:
df.duplicated(subset=['Order_ID'])

0       False
1       False
2       False
3       False
4       False
        ...
2495    False
2496    False
2497    False
2498    False
2499    False
Length: 2500, dtype: bool

In [11]:
df['Order_ID'].unique()

array([1000, 1001, 1002, ..., 3497, 3498, 3499], dtype=int64)

In [13]:
df['Order_Date'].unique()

array(['2025-02-27', '2025-07-15', '02-01-2025', ..., '2024-08-15',
       '2023-12-31', '25-11-2024'], dtype=object)

In [15]:
print(df['Order_Date'].dtype)

object

In [17]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'], dayfirst=True, errors='coerce')

C:\Users\abs\AppData\Local\Temp\ipykernel_10864\3687525960.py:1: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df['Order_Date'] = pd.to_datetime(df['Order_Date'], dayfirst=True, errors='coerce')

In [19]:
df['Order_Date']

0      2025-02-27
1      2025-07-15
2             NaT
3             NaT
4             NaT
          ...
2495          NaT
2496   2024-03-10
2497          NaT
2498          NaT
2499          NaT
Name: Order_Date, Length: 2500, dtype: datetime64[ns]

In [21]:
df['Order_Date'].unique()

<DatetimeArray>
['2025-02-27 00:00:00', '2025-07-15 00:00:00',                 'NaT',
 '2023-12-05 00:00:00', '2024-04-02 00:00:00', '2025-07-20 00:00:00',
 '2024-04-13 00:00:00', '2024-05-05 00:00:00', '2024-12-21 00:00:00',
 '2023-09-03 00:00:00',
 ...
 '2025-04-17 00:00:00', '2025-04-24 00:00:00', '2024-07-20 00:00:00',
 '2024-06-10 00:00:00', '2024-02-19 00:00:00', '2023-08-07 00:00:00',
 '2025-06-05 00:00:00', '2024-08-31 00:00:00', '2024-08-15 00:00:00',
 '2023-12-31 00:00:00']
Length: 414, dtype: datetime64[ns]

In [27]:
df['Order_Date'].count('NaT')

TypeError: Series.count() takes 1 positional argument but 2 were given

In [77]:
print(df['Order_Date'].unique())

<DatetimeArray>
['NaT']
Length: 1, dtype: datetime64[ns]

In [69]:
# Step 1: Convert to datetime
pd.to_datetime(df['Order_Date'], dayfirst=True, errors='coerce')

# Step 2: Format as string in 'DD/MM/YYYY'
df['Order_Date'].dt.strftime('%d/%m/%Y')

print(df['Order_Date'])

C:\Users\abs\AppData\Local\Temp\ipykernel_10156\819463925.py:2: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  pd.to_datetime(df['Order_Date'], dayfirst=True, errors='coerce')

AttributeError: Can only use .dt accessor with datetimelike values